<header>
  <nav class="navbar navbar-light" style="background-color: #76c3fa;">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">             
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <div class =" d-flex justify-content-right">
    <% if(user){ %>
    <form class="form-inline justify-content-right" action="/logout"  method="POST">
      <div class="form-group mb-2">
        <label for="logout" style="margin-right: 2em"> Logged in as: 
         <%= user.email  %>
        </label>
        <button type="submit" class="btn btn-outline-dark">Log Out</button>
      </div>
    </form>
    <% } else{ %>
      <form class="form-inline justify-content-right" action="/login" method="GET">
        <div class="form-group mb-2">
          <button type="submit" class="btn btn-outline-secondary" style="margin-right: 2rem;"> <a href="/login">Log In</a> </button></a></button>
        </div>
      </form>
      <form class="form-inline justify-content-right" action="/register" method="GET">
        <div class="form-group mb-2">
          <button type="submit" class="btn btn-outline-secondary"> <a href="/register">Register</a> </button>
        </div>
      </form>
      <% } %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" style="margin-left: 2rem;" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
      
  </nav>
</header>